<!doctype html>
<html>
<head>
    <meta charset="utf-8" />
    <title>7bits-frontend-2018</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
</head>
<body>
    <img src="../img/me.png" class="photo">

    <div class="text">
        <p class="about-title">About me</p>
        <p class="about-text">
            I’m John Watson Lorem ipsum dolor sit amet, consectetur adipiscing elit,
            sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        </p>
    </div>
</body>
</html>