<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Awesome gallery post</title>
    <link rel="stylesheet" type="text/css" href="../styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Hind" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
</head>
<body>
    <div class="post">
        <div class="post__icon_box">
            <img src="../img/img_icon.png" class="post__icon_img">
        </div>

        <div class="post__text">
            <p class="post__text_category">Adventures</p>
            <p class="post__text_title">Awesome gallery post</p>
            <p class="post__text_date">january 19, 2016</p>
        </div>

        <a href="www.blog.com/post">
            <div class="post__read_more_button"></div>
        </a>
        <img src="../img/long_line.png" class="long_line">

        <a href="www.blog.com/post/comments" class="post__comments_link">
            <div class="post__comments">
                <img src="../img/comments_icon.png" class="post__comments_icon">
                <p class="post__comments_title">02 Comment</p>
            </div>
        </a>
    </div>
</body>
</html>